@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

@viewport
{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport
{
    zoom: 1.0;
    width: extend-to-zoom;
}

site__box
{
   

}

.site__image
{
    display: inline-block;
    border: 0;
    max-width: 100%;
}

.site__description-box
{
    position: relative;
}
.site__description-box:before
{
    content: "";
    display: block;
    padding-top: 25%;
}
.site__description
{
    position: absolute;
    top:      0;
    left:     0;
    bottom:   0;
    right:    0;
}

body
{
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 100%;
    color: #595959;
}

body, html
{
    height: 100%;
    background: rgba(250,250,250,1);
}

h2
{
    font-size: 0.9em;
    margin: 0;
    color: #393939;
}

p
{
    font-size: 0.75em;
    margin: 0;
}


a 
{
    text-decoration: none;
    color: inherit;
    border-bottom: dotted 1px rgba(128,128,128,0.5);
    -webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
            transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    outline: 0;
   /* margin-right: 40px;*/
    margin-right: 1rem;
    font-size: 0.8em;
}
    a:hover
    {
        color: #d6a440;
        border-bottom-color: rgba(255,255,255,0);
    }
    
    a.image-link
    {
        border: none;
    }

